@font-face {
  font-family: 'More Sugar';
  src: url('fonts/MoreSugar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'More Sugar', sans-serif;
  background-color: #fdf4e4;
  color: #6a420e;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 5% 4rem 10%;
  flex-wrap: wrap;
}

.left {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.left h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.left p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.appstore {
  height: 50px;
}

.logo-video {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto 1rem;
}

.circle {
  width: 100%;
  height: 100%;
  background: #555;
  border-radius: 50%;
}

.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  width: 0;
  height: 0;
  border-left: 15px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.right {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: flex-end;  /* alinea totalmente a la derecha */
  align-items: flex-start;
  text-align: right;
  margin-right: -5%; /* empuja la imagen fuera del contenedor */
}

.app-image {
  max-width: 75%;    /* reduce tamaño visual */
  height: auto;
  margin: 0;
}

footer {
  text-align: center;
  padding: 2rem 0;
  font-weight: bold;
  border-top: 1px solid #ccc;
}

footer a {
  color: #6a420e;
  text-decoration: none;
  margin: 0 1rem;
}



.legal {
  padding: 3rem 10%;
  background-color: #fdf4e4;
  font-family: 'More Sugar', sans-serif;
  color: #6a420e;
}

.legal h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.legal h2 {
  font-size: 1.3rem;
  margin-top: 2rem;
}

.legal p, .legal ul {
  font-size: 1rem;
  line-height: 1.6;
}

.legal ul {
  padding-left: 1.2rem;
}

.back-button {
  display: inline-block;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #6a420e;
  font-weight: bold;
  font-size: 1rem;
}


.legal a[href^="mailto:"] {
  color: #6a420e; /* el color que tú quieras */
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.6rem;
}



@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.left > * {
  animation: fadeInDown 1s ease forwards;
  opacity: 0;
}

.left h1 {
  animation-delay: 0.2s;
}

.left p {
  animation-delay: 0.4s;
}

.left a {
  animation-delay: 0.6s;
}

.app-image {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.6s;
}